

/* ______loginpage______ */
.container.signin-container{
    margin-top: 10%;
}

.card.signin-card{
    padding: 10px 0px 30px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    max-width: 450px;
    margin: auto;
}

img.signin-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;

}

form.signin-form{
    max-width: 300px;
    margin: auto;
}

button.signin-btn{
    color: whitesmoke;
    background-color: orangered;
    width: 100%;
    margin-bottom: 1rem;
}


.loginJumbo{
    background-color: aliceblue;
}

.loginJumbo h1.loginHead{
    color: darkgrey;
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
    text-align: center;
}

/* ___________Media____________ */

img.userProfilePic{
    width: 250px;
    height: auto;
}

/* ___________Profile____________ */
h1.uNameProfile{
    display: block;
    margin: auto;
    text-align: center;
}

a.profileEditBtn{
    display: block;
    margin: auto;
    text-align: center;
}

table tr td.tlabel{
    display: block;
    color: darkgrey;

}

/* ___________Common____________ */
.regForm{
    display: block;
    padding: 2rem;
    margin-bottom: 4rem;
}